@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("~leaflet/dist/leaflet.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Rubik", sans-serif;
}

@layer components {
  .ip-data {
    @apply my-1 font-bold;
  }
  .ip-spanm_text {
    @apply text-xs text-gray-400;
  }
}

.leaflet-container {
  width: 100%;
  height: 80vh;
}

.leaflet-marker-icon {
  background-image: url("./images/icon-location.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.leaflet-control-container {
  display: none;
}
